<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>username</name>
          <defaultValue>root</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>password</name>
          <defaultValue>root</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>database_name</name>
          <description>This name should be unique</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>hostport</name>
          <description>Specifies DB to any free port in this range</description>
          <defaultValue>5000-6000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>image_tag</name>
          <description>Specify Database Image:Tag</description>
          <defaultValue>postgres:latest</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>private_interface</name>
          <description>Private Network Interface</description>
          <defaultValue>eth1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>database_group</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>db[0]</string>
              <string>konnect[0]</string>
              <string>ulp[0]</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>db_mount_location</name>
          <description>Location where to mount database - ideally should be an external volume</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>/home/db</string>
              <string>/mnt/db-data/db</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/samagra-devops/ansible_workspace_dir/database_ansible
ansible-playbook -i inventory/hosts --extra-vars  &quot;deploy_host_name=&apos;${database_group}&apos; username=&apos;${username}&apos; password=&apos;${password}&apos; hostport=&apos;${hostport}&apos; database_name=&apos;${database_name}&apos; image_tag=&apos;${image_tag}&apos; private_interface=&apos;${private_interface}&apos; private_interface=&apos;${private_interface}&apos; db_mount_location=&apos;${db_mount_location}&apos;&quot; main.yml --tag provision-postgres
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>